node_modules/
.env
.env.local
dist/
build/
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
.DS_Store
Thumbs.db
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
dating-app-mobile/node_modules/
dating-app-web/node_modules/
